@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700;900&family=Ubuntu&display=swap');

body{
  overflow-x: hidden;
  font-family: Montserrat;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

h3{
  font-size: 1.5rem;
  font-weight: 700;
}

h2{
  font-size: 3rem;
  font-weight: 700;
}

p{
  color:#8f8f8f;
}

/*Header Section*/

#title {
  background-color: #ff4c68;
  color: white;
  overflow-y: hidden;
}

/*Navbar*/
.navbar{
  padding: 20px 40px;
}

.navbar-brand{
  font-family: Ubuntu;
  font-size: 2rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-weight: 200;
}

/*Download Button*/

.download-button{
  margin: 1.5rem 1rem 1.5rem 0;
}

/*header*/

.title-image{
  width: 50%;
  transform: rotate(25deg);
  margin-bottom: -80px;
}

.header-text{
  margin-bottom: 30px;
}


/*Features Section*/

#features{
  padding: 60px 0;
}

.feature-box{
  text-align: center;
  margin: 20px 0;
}

.feature-box p{
  text-align: center;
  width: 20ch;
}

.icon{
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #ff4c68;
}

/*Testimonial Section*/

#testimonials{
  text-align: center;
  background-color: #ef8172;
  color: white;
  padding: 50px 0;
}

.testimonail-image{
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 30px;
}

.press-logo{
  width: 12%;
  margin: 20px;
}

.carousel-container{
  padding: 0 100px;
}

/*Pricing Table*/

#pricing{
  margin: 50px 0 30px;
  text-align: center;
}

.pricing-button{
  width: 100%;
}

.card-body{
  height:350px;
}

.card{
  margin: 20px 0;
}

/*Call to Action*/

#cta{
  background-color: #ff4c68;
  color: white;
  padding: 100px 0;
  text-align: center;
}

/*footer*/

#footer{
  text-align: center;
  padding: 50px 0;
}

/*Media Queries*/

@media (max-width: 1020px){
  .title-image{
    transform: rotate(0);
    margin-bottom: -60px;
  }
  .header-text{
    text-align: center;
  }
  h2{
    font-size: 2.5rem;
  }
  h1{
    font-size: 3rem;
    line-height: 1.2;
  }
}
